
.el-button > span{
  display: flex;
  align-items: center;
}

/* Dialog */
.el-dialog__header{
  display: none;
}
.el-dialog__body{
  padding: 10px !important;
}
.el-dialog{
  border-radius: 10px !important;
}
.el-checkbox {
  width: 100%;
}
.checkbox{
  width: auto !important;
  margin-right: 10px !important;
}
/* 默认 checkbox 样式 */
.el-checkbox__input.is-checked .el-checkbox__inner,
.el-checkbox__input.is-indeterminate .el-checkbox__inner {
  border-color: #4ea30a !important;
  background-color: #4ea30a !important;
}
.el-checkbox__input.is-checked+.el-checkbox__label{
  color: #4ea30a !important;
}
.el-checkbox__inner:hover{
  border-color: #4ea30a !important;
}
.el-checkbox__input.is-focus .el-checkbox__inner {
  border-color: #4ea30a !important;
}
/* card */
.el-card__header{
  padding: 0 15px 0 12px!important
}
.el-card__body{
  transition: max-height 0.2s;
  padding: 10px 20px !important;
  min-height: 200px !important;
  max-height: 236px !important;
  overflow-y: auto !important;
}
/* .card .el-card__body{
  max-height: 400px !important;
} */
/* input */
.box-card .el-input__inner{
  border: 0 !important;
  margin-left: -15px !important;
  color: #606266 !important;
  font-size: 14px !important;
  font-weight: 500 !important;
}
/* titl input */
.title-input .el-input__inner{
  border-top: 0 !important;
  border-left: 0 !important;
  border-right: 0 !important;
  background-color: #F2F6FC !important;
  font-size: 18px !important;
  padding-bottom: 10px !important;
  margin-bottom: 15px !important;
  border-bottom: 1px solid #E4E7ED !important;
  color: #2a3a4a !important;
  font-weight: 500 !important;
}